# Amber's Dotfiles
#  ____        __      __                  ____     ____    ____
# /\  _`\     /\ \  __/\ \__              /\  _`\  /\  _`\ /\  _`\
# \ \ \L\_\   \_\ \/\_\ \ ,_\   ___   _ __\ \ \/\_\\ \ \L\_\ \ \L\_\
#  \ \  _\L   /'_` \/\ \ \ \/  / __`\/\`'__\ \ \/_/_\ \  _\/\ \ \L_L
#   \ \ \L\ \/\ \L\ \ \ \ \ \_/\ \L\ \ \ \/ \ \ \L\ \\ \ \/  \ \ \/, \
#    \ \____/\ \___,_\ \_\ \__\ \____/\ \_\  \ \____/ \ \_\   \ \____/
#     \/___/  \/__,_ /\/_/\/__/\/___/  \/_/   \/___/   \/_/    \/___/

#---------------------------------------------------------------------
# EditorConfig File
#---------------------------------------------------------------------

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{js,ts,jsx,tsx}]
indent_size = 2

[*.xml]
indent_size = 2
