@import url("/home/amber/.cache/wal/colors-waybar.css");
/* Unfortunately referencing GTK CSS variables makes vscode very angry.
Lots of red squiggles everywhere 😠*/
/* TODO Fonts, color variables, etc. in external file to swap quickly? */

* {
    font-family: 'Iosevka NFP';
    font-size: 12px;
    transition: all 0.25s;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-right,
.modules-center {
    background-color: alpha(@background, 0.6);
    border-radius: 15px;
    padding: 0px 5px;
    margin: 0px 2px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    border-radius: 10px;
    padding: 0 5px;
    margin: 5px 2px;
    background-color: @color7;
    color: #ffffff;
}

#workspaces button.active {
    background-color: @color6;
}

#workspaces button:hover {
    background-color: @color9;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#idle_inhibitor.activated {
    color: #eb4d4b;
}

#clock,
#battery,
#cava,
#clock,
#cpu,
#custom-cava,
#custom-hyprpicker,
#custom-media,
#custom-power,
#custom-qalculate,
#custom-updates,
#custom-wlogout,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#mpris,
#network,
#power-profiles-daemon,
#privacy-item,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.warning {
    color: #ffd700
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    background-color: #26a65b;
}

label:focus {
    background-color: #000000;
}

#cpu, #memory, #disk, #temperature {
    min-width: 15px;
}

#wireplumber {
    transition: color .25s;
    background-color: transparent;
    color: #ffffff;
}

#wireplumber.muted {
    color: #cc2014;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 80px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
    background-color: transparent;
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}

#privacy-item.audio-out {
    color: #0069d4;
}

#power-profiles-daemon {
    padding-left: 0;
    background-color: transparent;
}

#power-profiles-daemon.performance {
    color: #eb4d4b;
}

#power-profiles-daemon.power-saver {
    color: #26a65b;
}

#custom-power {
    margin-right: 0px;
    padding-right: 0;
}

#backlight:hover,
#battery:hover,
#cava:hover,
#clock:hover,
#cpu:hover,
#custom-cava:hover,
#custom-hyprpicker:hover,
#custom-media:hover,
#custom-power:hover,
#custom-qalculate:hover,
#custom-updates:hover,
#custom-wlogout:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#mode:hover,
#mpd:hover,
#mpris:hover,
#network:hover,
#power-profiles-daemon:hover,
#privacy-item:hover,
#pulseaudio:hover,
#scratchpad:hover,
#temperature:hover,
#tray:hover,
#window:hover,
#wireplumber:hover {
    color: @color9;
}
