@import url("/home/amber/.cache/wal/colors-waybar.css");
/* Unfortunately referencing GTK CSS variables makes vscode very angry.
Lots of red squiggles everywhere 😠*/
/* TODO Fonts, color variables, etc. in external file to swap quickly? */

/*--------------------------------------------------------------------
VARIABLES / METADATA - Includes GTK CSS @define-color tags
--------------------------------------------------------------------*/

@define-color red-soft #eb4d4b;
@define-color red-sharp #f51c1c;
@define-color green-soft #26a65b;

/*--------------------------------------------------------------------
GENERAL SETTINGS
--------------------------------------------------------------------*/

* {
    font-family: 'Iosevka NFP';
    font-size: 12px;
    transition: all 0.25s;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-right,
.modules-center {
    background-color: alpha(@background, 0.6);
    border-radius: 15px;
    padding: 0px 5px;
    margin: 0px 2px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

label:focus {
    background-color: #000000;
}

#battery,
#cava,
#clock,
#cpu,
#custom-cava,
#custom-hyprpicker,
#custom-media,
#custom-power,
#custom-qalculate,
#custom-updates,
#custom-weather,
#custom-wlogout,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#mpris,
#network,
#power-profiles-daemon,
#privacy-item,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
    padding: 0 5px;
    color: #ffffff;
}

/*--------------------------------------------------------------------
MODULE SETTINGS - Hyprland modules
--------------------------------------------------------------------*/

#workspaces button {
    border-radius: 10px;
    padding: 0 5px;
    margin: 5px 2px;
    box-shadow: 0 0 0 1px @color6;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: @color6;
}

#workspaces button:hover {
    background-color: @color9;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: @red-soft;
    box-shadow: 0 0 0 1px #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/*--------------------------------------------------------------------
MODULE SETTINGS - General informational widgets / system control
--------------------------------------------------------------------*/

#battery {
    padding: 3px;
}

#battery.warning {
    color: gold;
}

#battery.critical:not(.charging) {
    background-color: @red-sharp;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    background-color: #26a65b;
    color: #ffffff;
}

#idle_inhibitor.activated {
    color: @red-soft;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-power {
    padding-right: 3px;
}

/* This is ugly but coloring the module using a span in the script makes
 the coloring on hover not work */

#custom-power.discharging-low { color: #008080; }
#custom-power.charging-low { color: #007f3b; }
#custom-power.discharging-med { color: #ffd700; }
#custom-power.charging-med { color: #87cefa; }
#custom-power.discharging-high { color: #eb4d4b; }
#custom-power.charging-high { color: #00ffff; }

#power-profiles-daemon {
    padding-left: 3px;
    background-color: transparent;
}

#power-profiles-daemon.performance {
    color: @red-soft;
}

#power-profiles-daemon.power-saver {
    color: @green-soft;
}

#privacy {
    padding: 0;
    background-color: transparent;
}

#privacy-item.screenshare {
    color: #cf5700;
}

#privacy-item.audio-in {
    color: #1ca000;
}

#privacy-item.audio-out {
    color: #0069d4;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red-soft;
}

#wireplumber {
    transition: color .25s;
    background-color: transparent;
    color: #ffffff;
}

#wireplumber.muted {
    color: @red-sharp;
}

/*--------------------------------------------------------------------
MODULE SETTINGS - Utility Modules
--------------------------------------------------------------------*/

/* The color emojis for weather have weird alignment/spacing. I decided to put
the weather emoji to the right of temperature and eliminate right padding.*/
#custom-weather {
    padding-right: 0px;
}

/*--------------------------------------------------------------------
MODULE SETTINGS - Hardware monitors
--------------------------------------------------------------------*/

#cpu, #memory, #disk, #temperature {
    min-width: 15px;
}

#temperature.critical {
    background-color: @red-soft;
}

/*--------------------------------------------------------------------
EMBELLISHMENTS
--------------------------------------------------------------------*/

/* Add the color on hover attribute to all modules at the end so it doesn't get
overruled by earlier "color" attribute */
#backlight:hover,
#battery:hover,
#cava:hover,
#clock:hover,
#cpu:hover,
#custom-cava:hover,
#custom-hyprpicker:hover,
#custom-media:hover,
#custom-power:hover,
#custom-qalculate:hover,
#custom-updates:hover,
#custom-wlogout:hover,
#disk:hover,
#idle_inhibitor:hover,
#memory:hover,
#mode:hover,
#mpd:hover,
#mpris:hover,
#network:hover,
#power-profiles-daemon:hover,
#privacy-item:hover,
#pulseaudio:hover,
#scratchpad:hover,
#temperature:hover,
#tray:hover,
#window:hover,
#wireplumber:hover {
    color: @color9;
}
