configuration {
    modi: "dmenu";
    show-icons: true;
}

@theme "~/.config/rofi/custom.rasi"

* {
}

window {
    width: 700px;
}

listview {
    columns: 3;
    spacing: 10px;
    dynamic: true;
    lines: 3;
    flow: horizontal;
}

inputbar {
    children: [ "prompt", "entry" ];
}

element {
    orientation: vertical;
    padding: 10px;
}

element-icon {
    size: 10em;
    margin: -30px 0;
}

element-text {
    horizontal-align: 0.5;
}
